body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #111;
  line-height: 1.6;
  padding: 16px;
}

header {
  background: #1e1e1e;
  color: white;
  padding: 16px;
  text-align: center;
}

.trecho-do-dia {
  background: #ececec;
  padding: 16px;
  margin: 16px 0;
  border-left: 5px solid #d32f2f;
}

.autor {
  font-style: italic;
  font-size: 0.9em;
  color: #555;
}

.capitulos ul {
  list-style: none;
  padding: 0;
}

.capitulos li {
  background: white;
  margin-bottom: 12px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #777;
  margin-top: 40px;
}

.capitulos li:hover {
    background-color: rgb(152, 183, 211);
}

link{
    color: #555;
    text-decoration: underline;
}

.termos{
    background: white;
    margin-bottom: 12px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.intro{
  background: #424242;
  color: white;
  padding: 16px;
  text-align: center;
}

a{
  color: #250069;
}

#intro{
  color: #ff0000;
}

.inicio {
  background: #ececec;
  padding: 16px;
  margin: 16px 0;
  border-left: 5px solid #d32f2f;
  line-height: 18px;
}

.livros{
  background-color: #f2f2f2;
      border-left: 4px solid #0077cc;
      padding: 10px 15px;
      margin: 15px 0;
}

#listalivros{
  font-size: large;
  color: #272727;
  list-style-type: square;
  line-height: 26px;
}

.metodo{
      background-color: #f2f2f2;
      border-left: 4px solid #0077cc;
      padding: 10px 15px;
      margin: 15px 0;
      font-size: 0.95em;
}

.principalmetodo{
  color: red;
}